.weather-current {
  position: relative;
  .wi-day-sunny {
    animation: rolling infinite 7s linear;
  }
  @keyframes rolling {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .weather-view {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    font-size: 8rem;
    h2 {
      grid-column: 1/2;
    }
    color: white;
    .weather-wind {
      flex: 1;
      min-width: 120px;
      display: flex;
      font-size: 1.2rem !important;
      flex-direction: column;
      justify-content: space-around;
      .wind-speed,
      .wind-direction,
      .sun-sunset,
      .sun-sunrise {
        display: flex;
        flex-direction: column;
        align-items: center;
        .wi {
          font-size: 3rem;
        }
        span {
          font-family: "Nanum Gothic", sans-serif;
          font-weight: bold;
          .wi {
            font-size: 1.2rem;
          }
        } 
        .time {
          position: relative;
          transform-style: preserve-3d;
          transition:0.5s; 
          width:100%;
          text-align: center;
          height:1.2rem;
          &:hover {
            transform:rotateY(180deg);
          }
          span {
            display: block;
            backface-visibility: hidden;
            position:absolute;
            width:100%;
            top:0;
            left:0;
            &.time {
              display:block;
            }

            &.format {
              transform:rotateY(180deg);
            }
          }
        }
      }
    }
    .weather-icon {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 120px;
      .weather {
        position: relative;
        text-align: center;
        font-size: 8rem;
        span {
          display: block;
          position: relative;
          font-size: 2rem;
          text-align: center;
          font-weight: 800;
          letter-spacing: 3px;
        }
      }
      .temp {
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
        font-size: initial;
        span {
          font-family: "Nanum Gothic";
          font-size: 1.2rem;
          &.now {
            display: block;
            font-size: 2rem;
          }
          &.high {
            &:before {
              content: " / ";
            }
          }
        }
      }
    }
  }
}
